In [1]:
import numpy as np
import pandas as pd
import matplotlib as mp
import matplotlib.pyplot as plt
import seaborn as sns
import json
import folium

In [2]:
fm = mp.font_manager.FontManager()
plt.rcParams['font.family'] = 'Malgun Gothic'

### 전체 반려동물 등록수

In [3]:
df_pet = pd.read_csv('C:/Users/jun/Desktop/workspace/반려동물등록현황.csv', encoding='cp949', engine='python' )
df_pet.head()

,시군명,읍면동명,등록동물수(마리),(등록주체)시군구등록,(등록주체)대행업체등록,(등록주체)기타,(RFID종류)내장형,(RFID종류)외장형,(RFID종류)인식표,등록품종수,등록소유자수,동물소유자당등록동물수,해당동의등록대행업체수,데이터기준일자
0,가평군,가평읍,941,NaN,NaN,NaN,596,294,51,NaN,85,NaN,3.0,2021-06-28
1,가평군,북면,289,NaN,NaN,NaN,176,93,20,NaN,185,NaN,0.0,2021-06-28
2,가평군,상면,399,NaN,NaN,NaN,217,153,29,NaN,243,NaN,0.0,2021-06-28
3,가평군,설악면,1111,NaN,NaN,NaN,446,612,53,NaN,625,NaN,1.0,2021-06-28
4,가평군,조종면,416,NaN,NaN,NaN,218,161,37,NaN,274,NaN,1.0,2021-06-28

In [4]:
df_pet['시군명'].unique()

array(['가평군', '고양시', '과천시', '광명시', '광주시', '구리시', '군포시', '김포시', '남양주시',
       '동두천시', '부천시', '성남시', '수원시', '시흥시', '안산시', '안성시', '안양시', '양주시',
       '양평군', '여주시', '연천군', '오산시', '의왕시', '의정부시', '이천시', '파주시', '평택시',
       '포천시', '하남시', '화성시'], dtype=object)

In [8]:
local_df = df_pet[['시군명','등록동물수(마리)']]
local_df

     시군명  등록동물수(마리)
0    가평군        941
1    가평군        289
2    가평군        399
3    가평군       1111
4    가평군        416
..   ...        ...
567  화성시       3107
568  화성시       3107
569  화성시         15
570  화성시         36
571  화성시         36

[572 rows x 2 columns]

In [9]:
new_df = local_df.groupby(local_df['시군명']).sum()
new_df

      등록동물수(마리)
시군명
가평군        4017
고양시       61553
과천시        3428
광명시       18323
광주시       17613
구리시        8664
군포시       13372
김포시        7912
남양주시      34136
동두천시       5464
부천시       44164
성남시       47833
수원시       65330
시흥시       25441
안산시       32302
안성시        9442
안양시       31539
양주시       10063
양평군        7729
여주시        4277
연천군         552
오산시        9828
의왕시        6590
의정부시      24179
이천시        9732
파주시       24057
평택시       23931
포천시       11092
하남시       13217
화성시       37511

--------------------------------

### 시군별 인구수

In [93]:
df_pop = pd.read_csv('C:/Users/jun/Desktop/workspace/주민등록인구집계현황.csv', encoding='cp949', engine='python' )
df_pop.head()

,연도,월,행정구역구분명,행정구역명,총 인구수,0~9세,10~19세,20~29세,30~39세,40~49세,...,10~19세 (여),20~29세 (여),30~39세 (여),40~49세 (여),50~59세 (여),60~69세 (여),70~79세 (여),80~89세 (여),90~99세 (여),100세 이상 (여)
0,2021,4,도,경기도,13479798,1130520,1325369,1812656,1901856,2298715,...,643946,857829,920627,1129442,1106006,798241,418456,226928,40406,1821
1,2021,4,시군,경기도 가평군,62206,3282,4561,6213,5602,7848,...,2158,2637,2558,3624,5259,5996,3569,2286,383,22
2,2021,4,읍면동,경기도 가평군 가평읍,19426,1123,1658,2196,1865,2626,...,753,993,884,1217,1610,1664,1047,698,109,12
3,2021,4,읍면동,경기도 가평군 북면,3907,151,200,246,264,399,...,92,107,115,171,312,488,287,209,35,3
4,2021,4,읍면동,경기도 가평군 상면,5617,151,293,537,373,554,...,127,181,164,236,546,679,368,243,39,1

In [102]:
df_pop['행정구역구분명'].unique()

array(['도', '시군', '읍면동', '구'], dtype=object)

In [103]:
local_df = df_pop[['월', '행정구역구분명', '행정구역명', '총 인구수']]
local_df

      월 행정구역구분명          행정구역명     총 인구수
0     4       도            경기도  13479798
1     4      시군       경기도 가평군      62206
2     4     읍면동   경기도 가평군 가평읍      19426
3     4     읍면동     경기도 가평군 북면      3907
4     4     읍면동     경기도 가평군 상면      5617
...  ..     ...            ...       ...
2412  1     읍면동   경기도 화성시 팔탄면       9974
2413  1     읍면동   경기도 화성시 향남읍      86246
2414  1     읍면동   경기도 화성시 화산동      23199
2415  1     읍면동  경기도 화성시동부출장소          0
2416  1     읍면동  경기도 화성시동탄출장소          0

[2417 rows x 4 columns]

In [104]:
state_a = local_df['행정구역구분명'] == '시군'
state_b = local_df['월'] == 4 

state_df = local_df[state_a & state_b]

In [105]:
state_df  #4월 기준 인구수

     월 행정구역구분명     행정구역명    총 인구수
1    4      시군  경기도 가평군     62206
8    4      시군  경기도 고양시   1080736
51   4      시군  경기도 과천시     68955
58   4      시군  경기도 광명시    295690
77   4      시군  경기도 광주시    383794
91   4      시군  경기도 구리시    195324
100  4      시군  경기도 군포시    271007
112  4      시군  경기도 김포시    481719
127  4      시군  경기도 남양주시   721767
145  4      시군  경기도 동두천시    93289
154  4      시군  경기도 부천시    812158
165  4      시군  경기도 성남시    932867
220  4      시군  경기도 수원시   1185532
269  4      시군  경기도 시흥시    510098
288  4      시군  경기도 안산시    655816
316  4      시군  경기도 안성시    188038
332  4      시군  경기도 안양시    551189
367  4      시군  경기도 양주시    234990
392  4      시군  경기도 여주시    111913
416  4      시군  경기도 오산시    230769
423  4      시군  경기도 용인시   1076773
462  4      시군  경기도 의왕시    162227
469  4      시군  경기도 의정부시   461077
484  4      시군  경기도 이천시    219224
499  4      시군  경기도 파주시    470096
518  4      시군  경기도 평택시    546154
542  4      시군  경기도 포천시    147317
558  4      시군  경기도 하남시    301801
573  4      시군  경기도 화성시    864687

-----------------------------

### 등록대행 업체

In [14]:
df_store= pd.read_csv('C:/Users/jun/Desktop/workspace/반려동물등록대행업체현황.csv', encoding='cp949', engine='python' )
df_store.head()

,시군명,업체명,도로명주소,지번주소,우편번호,전화번호,WGS84위도,WGS84경도
0,가평군,가평가축병원,NaN,경기도 가평군 가평읍 대곡리 230번지 3호,12420.0,031-582-2412,37.825038,127.514124
1,가평군,가평축산농협 동물병원,NaN,경기도 가평군 가평읍 대곡리,NaN,031-582-4111,NaN,NaN
2,가평군,경기 동물병원,경기도 가평군 청평면 청평중앙로 8,경기도 가평군 청평면 청평리 438-23번지 경기동물병원,12453.0,031-584-1282,37.735850,127.415936
3,가평군,선진가축병원(산업동물출장진료전문병원),경기도 가평군 가평읍 향교로 3,경기도 가평군 가평읍 읍내리 535번지 2호,12417.0,070-8739-6388,37.829437,127.510432
4,가평군,설악동물병원,경기도 가평군 설악면 신천중앙로 117,경기도 가평군 설악면 신천리 454번지 3호,12467.0,031-584-3063,37.677960,127.490633

In [25]:
df_store['시군명'].unique()

array(['가평군', '고양시', '과천시', '광명시', '광주시', '구리시', '군포시', '김포시', '남양주시',
       '동두천시', '부천시', '성남시', '수원시', '시흥시', '안산시', '안성시', '안양시', '양주시',
       '양평군', '여주시', '연천군', '오산시', '용인시', '의왕시', '의정부시', '이천시', '파주시',
       '평택시', '포천시', '하남시', '화성시'], dtype=object)

In [27]:
local_df = df_store[['시군명','업체명']]
local_df

      시군명                   업체명
0     가평군                가평가축병원
1     가평군           가평축산농협 동물병원
2     가평군               경기 동물병원
3     가평군  선진가축병원(산업동물출장진료전문병원)
4     가평군                설악동물병원
...   ...                   ...
1204  화성시              향남메디동물병원
1205  화성시                현대동물병원
1206  화성시               호야펫 화성점
1207  화성시             홍익메디칼동물병원
1208  화성시              힐링동물의료센터

[1209 rows x 2 columns]

In [29]:
local_df.groupby('시군명').size()

시군명
가평군       8
고양시      99
과천시       6
광명시      22
광주시      26
구리시      24
군포시      14
김포시      49
남양주시     52
동두천시      8
부천시      77
성남시     123
수원시     122
시흥시      38
안산시      52
안성시      10
안양시      46
양주시      37
양평군      13
여주시       6
연천군       2
오산시      22
용인시     110
의왕시      12
의정부시     37
이천시      14
파주시      35
평택시      43
포천시       7
하남시      25
화성시      70
dtype: int64